<div class="container">
  <form id="formCadastro" data-toggle="validator" #f="ngForm"  role="form" (ngSubmit)="login(f)" >
    <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="usuario.email" id="email" name="email" type="email" class="validate" required>
          <label class="active" for="email">E-mail</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="usuario.password" id="password" name="password" type="password" class="validate" required>
          <label class="active" for="password">Senha</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!f.valid">Login
        <i class="material-icons right">send</i>
    </button>
  </form>
</div>
