<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo right">Portal Guild</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li routerLinkActive='active'><a routerLink="login" *ngIf="(mostrarMenuLogado===-1)">Login</a></li>
          <li routerLinkActive='active'><a routerLink="new-user" >Novo Membro</a></li>
          <li routerLinkActive='active'><a routerLink="adm-eventos" *ngIf="(mostrarMenuLogado>0)" >Novo Evento</a></li>
          <li routerLinkActive='active'><a routerLink="eventos" *ngIf="(mostrarMenuLogado>0)" >Eventos</a></li>
          <li routerLinkActive='active'><a routerLink="pendencias" *ngIf="(mostrarMenuLogado>0)" >Pendencias</a></li>
          <li routerLinkActive='active'><a routerLink="pendencias-semanais" *ngIf="(mostrarMenuLogado>0)" >Pendencias Semanais</a></li>
          <li routerLinkActive='active'><a routerLink="adm-membros" *ngIf="(mostrarMenuLogado>1)" >Membros
            <span class="new badge" data-badge-caption="Membros pendentes" *ngIf="(playersToAcept>0)">{{ playersToAcept }}</span></a>
          </li>
          <li routerLinkActive='active'><a routerLink="adm-game" *ngIf="(mostrarMenuLogado>1)" >Gerenciamento Game/Pendencias</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul id="mobile-demo" class="side-nav">
      <li *ngIf="(mostrarMenuLogado>0)">
        <div class="user-view">
          <div class="background">
            <img src="./assets/images/background_tmt.jpeg">
          </div>
          <a href="#!user">&nbsp;</a> <!-- <img class="circle" src="./assets/images/user_profile.png"> -->
          <a href="#!name"><span class="orange-text darken-4 name">&nbsp;</span></a> <!-- {{ usuarioNome }} -->
          <a href="#!email"><span class="orange-text darken-4 email">&nbsp;</span></a> <!-- {{ usuarioPsn }} -->
      </div>
    </li>
    <li><a routerLink="login" *ngIf="(mostrarMenuLogado===-1)" >Login</a></li>
    <li><a routerLink="new-user" *ngIf="(mostrarMenuLogado===-1)" >Novo Membro</a></li>
    <li><a class="subheader" *ngIf="(mostrarMenuLogado>0)">Bem vindo, {{ usuarioPsn }}</a></li>
    <li><div class="divider" *ngIf="(mostrarMenuLogado>0)"></div></li>
    <li><a routerLink="adm-eventos" *ngIf="(mostrarMenuLogado>0)" >Novo Evento</a></li>
    <li><a routerLink="eventos" *ngIf="(mostrarMenuLogado>0)" >Eventos</a></li>
    <li><a routerLink="pendencias" *ngIf="(mostrarMenuLogado>0)" >Pendencias</a></li>
    <li><a routerLink="pendencias-semanais" *ngIf="(mostrarMenuLogado>0)" >Pendencias Semanais</a></li>
    <li><a class="subheader" *ngIf="(mostrarMenuLogado>1)">Area Adm</a></li>
    <li><div class="divider" *ngIf="(mostrarMenuLogado>1)"></div></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li *ngIf="(mostrarMenuLogado>1)">
          <a class="collapsible-header">Administrativo<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a routerLink="adm-membros">
                  Membros <span class="new badge" data-badge-caption="" *ngIf="(playersToAcept>0)">{{ playersToAcept }}</span>
                </a>
              </li>
              <li>
                <a routerLink="adm-game">
                  Gerenciamento Game/Pendencias
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
