<table>
  <thead>
    <tr>
        <th>Nome</th>
        <th>ID PSN</th>
        <th>Cidade</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players;">
      <td>{{ player.nome }}</td>
      <td>{{ player.idpsn }}</td>
      <td>{{ player.cidade }}</td>
      <td>
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='aceptMember()' *ngIf="player.acesso == 0">Aceitar convite
          </button>
          <button class="btn waves-effect waves-light red" type="submit" name="action" (click)='aceptMember()' *ngIf="player.acesso == 0">Rejeitar convite
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='addAsAdm()' *ngIf="player.acesso == 1">Tornar ADM
          </button>
          <button class="btn waves-effect waves-light red" type="submit" name="action" (click)='removeFromClan()' *ngIf="player.acesso != 0">Excluir do Clan
          </button>
      </td>
    </tr>
  </tbody>
</table>
