<table>
  <thead>
    <tr>
        <th>Nome</th>
        <th>ID PSN</th>
        <th>Cidade</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players;">
      <td>{{ player.nome }}</td>
      <td>{{ player.idpsn }}</td>
      <td>{{ player.cidade }}</td>
      <td>
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='aceptMember(player._id)' *ngIf="player.acesso == 0">
              <i class="material-icons left">done</i><span class="hide-on-small-only">Aceitar convite</span>
          </button>
          <button class="btn waves-effect waves-light red" type="submit" name="action" (click)='removeFromClan(player._id)' *ngIf="player.acesso == 0">
              <i class="material-icons left">do_not_disturb</i><span class="hide-on-small-only">Rejeitar convite</span>
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action" (click)='addAsAdm(player._id)' *ngIf="player.acesso == 1">
              <i class="material-icons left">arrow_upward</i><span class="hide-on-small-only">Tornar ADM</span>
          </button>
          <button class="btn waves-effect waves-light red" type="submit" name="action" (click)='removeFromClan(player._id)' *ngIf="player.acesso != 0">
              <i class="material-icons left">delete</i><span class="hide-on-small-only">Excluir do Clan</span>
          </button>
      </td>
    </tr>
  </tbody>
</table>
